@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
#app{
    position: relative;
    overflow-x: hidden;
}

@layer components {
    .primary-btn {
        @apply bg-primary text-white font-semibold py-3 px-6 rounded-md hover:scale-110 duration-300 ;
    }
}